
@{
    ViewBag.Title = "About Us";
}

<h1>Ask the Missionaries!</h1>
<br />
<div class="jumbotron">
    <h2><u>Our Mission</u></h2>
    <p>We want to help anyone who is about to embark on a mission, deciding if they want to serve, or is just curious about what missionaries do.</p>
</div>

<div>
    <p>Ask the Missionaries is a platform for:</p>
    <ol>
        <li>Asking questions to return missionaries</li>
        <li>Learning about the different missions throughout the world</li>
        <li>Posting your experiences with missionaries</li>
    </ol>
</div>
