
@{
                /**/

                ViewBag.Title = "Ask the Missionaries!";
}
<br />
<div class="container" , style="text-align: center">
    <div class="jumbotron">
        <h1>Every Member a Missionary!<img src="~/Content/Images/missionaryTie.png" style="height: 150px" /></h1>
        <button type="button">Become a Missionary</button>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <iframe width="420" height="245" align="middle" src="https://www.youtube.com/embed/AqFt1xgkBYM"></iframe>
        </div>
        <div class="col-sm">
            <p>"The greatest need in the world today is faith in God and courage to do his will." - David O. McKay</p>
            <p>“The Holy Ghost makes an ideal traveling companion.” - Larry R. Lawrence</p>
            <p>“People may hear your words, but they feel your attitude.” - John C. Maxwell</p>

        </div>
    </div>
</div>



